<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <title>Certificação</title>
</head>
<body>
    <img src="{{ url_for('static', filename='logo.png') }}" id="logo" alt="logo">
    <br>
    <img src="{{ url_for('static', filename='senai.jpg') }}" id="trabalhador" alt="Trabalhador Senai">
    <br>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Usuário</label>
            <input type="email" class="form-control" id="Email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="Senha">
        </div>
        <button type="submit" class="btn btn-primary" id="Botão">Entrar</button>
    </form>

</body>
</html>