body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo-home {
    width: 125px;
    height: 50px;
}

#procurar {
    background-color: #f3d09e ;
    border-color: #ff9500;
    color: #ff9500;
}


.d-flex {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #8eadc5;
    margin-bottom: -40px;
    margin-top: -40px;
}

nav {
    font-size: larger;
}

.tabela {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.tabela th, 
.tabela td {
  padding: 12px 15px;
  text-align: left;
}

.tabela thead {
  background-color: #192a6b;
  color: #ffffff;
  font-weight: bold;
}

.tabela tbody tr {
  border-bottom: 1px solid #dddddd;
}

.tabela tbody tr:nth-of-type(odd) {
  background-color: #f3f3f3;
}

.tabela tbody tr:hover {
  background-color: #f1f1f1;
}

#linksdocabecalho{
    margin-left: 100px;
    display: flex;
    flex: 1;
    align-items: center;
}

#linksbemlocos{
    width: 50%;
    margin-left: 100px;
    justify-content: flex-start;
    align-items: center;
}

.barra-sistemica__item {
    color:#192a6b;
    margin-left: 25px;
    font-weight: bold;
    text-decoration: none !important;
}

.navbar.home-nav {
    background-color:#192a6b !important;
    font-size: larger;
}


.navbar-nav .nav-item  .nav-link {
    margin-left: 20px;
    margin-right: 20px;
    font-size: larger;
    color: #ffffff !important;
    font-weight: bold;
}

.navbar-nav .nav-item-titulo {
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    font-weight: bold;
    margin-right: 100px;
}

#imagem-almoxarifado {
    filter: invert(100%);
    scale: 140%;
}

#botao-imagem {
    background-color: #192a6b;
    border: 2px solid #ff9500;
    border-radius: 20px;
    padding: 20%;
}

.swal2-confirm {
    background-color: #192a6b;
    color: #ff9500;
    border: 2px solid #192a6b;
    border-radius: 10px;
    padding: 50%;
}