body {
    background-color: #eaedef;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    height: 960px;
    width: 960px;
    position: fixed;
}

form {
    position: absolute;
    font-size: small;
    color: #ff9500;
    scale: 250%;
    bottom: 40%;
    right: 20%;
    width: 200px;
}

#Senha {
    background-color: rgb(226, 244, 247);
    border: 2px solid #000000;

}

#Email {
    background-color: rgb(226, 244, 247);
    border: 2px solid #000000;
}

#Botão {
    padding: 5%;
}